body {
  padding: 20px;
}
#map {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#map-container,
#restaurants {
  height: 640px;
}
#restaurants {
  overflow: auto;
}
#restaurants .windows8 {
  display: none;
}
#restaurants.loading .windows8 {
  display: block;
}
.photo div {
  width: 120px;
  overflow: hidden;
  height: 120px;
}
div.map-photo {
  width: 120px;
  overflow: hidden;
  height: 120px;
  display: inline-block;
  margin: 8px 8px 8px 0;
}
.photo div img,
.div.map-photo img {
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
}
.div.map-photo img {
  /*cursor: pointer;*/
}
td.photo {
  width: 120px;
  padding: 8px 0 !important;
  margin: 0;
}
.restaurant {
  cursor: pointer;
}
.restaurant:hover {
  background: rgba(255,255,255,0.4);
}