@font-face {
    font-family: 'proxima';
    src: url('../font/proximanova-regular-webfont.eot');
    src: url('../font/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/proximanova-regular-webfont.woff') format('woff'),
         url('../font/proximanova-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima-bold';
    src: url('../font/proximanova-bold-webfont.eot');
    src: url('../font/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/proximanova-bold-webfont.woff') format('woff'),
         url('../font/proximanova-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
	background: url(../img/bg.jpg)no-repeat top center;
	margin: 0;
	padding: 0;
	width: 100%;
	min-height:100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

p {
	margin: 0;
	padding: 0;
	font-family: 'proxima', Arial, sans-serif;
}

img {
	display: block;
	margin: auto;
}

h1 {
	padding: 20px 0 0 100px;
}

header {
	margin-bottom: 60px;
}

.logo {
	display: block;
	text-indent: -9999px;
	background: url(../img/logo.png)no-repeat;
	width: 218px;
	height: 46px;
}

.info {
	text-align: right;
	padding: 40px 90px 0 0;
}

.info span {
	text-transform: uppercase;
	font-family: 'proxima-bold', Arial, sans-serif;
}

.line {
	margin-bottom: 7%;
}

.card {
	padding-left: 95px;
}

.text1 {
	width: 50%;
	padding: 25px 140px 0 20px;
}

.text1 p {
	margin-bottom: 20px;
	line-height: 1.5em;
}

.btn-order {
	background: #f95e19;
	color: #fff;
	padding: 8px 20px;
	text-transform: uppercase;
	font-family: 'proxima-bold', Arial, sans-serif;
	border-radius: 0;
	font-size: 20px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.btn-order:hover {
	color: #fff;
	background: #ff4f00;
}

.title2 {
	margin-bottom: 30px;
}

.title3 {
	margin-bottom: 50px;
}

.subtitle {
	color: #fff;
	margin: 10px 0;
}

.palyer {
	position: relative;
}

.palyer img {
	max-width: 65%;
}

.btn-player {
	position: absolute;
	background: url(../img/btn-player.png)no-repeat 0 0;
	width: 163px;
	height: 163px;
	top: 50%;
	left: 50%;
	margin-left: -81px;
	margin-top: -101px;
	opacity: .9;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

.btn-player:hover {
	opacity: 1;
}

.line3 .subtitle {
	color: #6c6c6c;
}

.text1 span {
	font-family: 'proxima-bold', Arial, sans-serif;
}

input:focus {
    outline: 0;
}

form {
	text-align: center;
}

form input {
	border: 1px solid #b3b3b3;
	border-radius: 50px;
	padding: 12px 15px 11px 20px;
	min-height: 30px;
	height: auto;
	display: table-cell;
	vertical-align: middle;
	font-size: 15px;
	width: 400px;
	color: #b3b3b3;
	text-transform: uppercase;
	text-align: center;
	margin: 10px 0 20px 0;
	font-family: 'proxima-bold', Arial, sans-serif;
}

::-webkit-input-placeholder {
   color: #b3b3b3;
   font-size: 15px;
   text-transform: uppercase;
   text-align: center;
   font-family: 'proxima-bold', Arial, sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
   color: #b3b3b3;
   font-size: 15px;
   text-transform: uppercase;
   text-align: center;
   font-family: 'proxima-bold', Arial, sans-serif;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #b3b3b3;
   font-size: 15px;
   text-transform: uppercase;
   text-align: center;
   font-weight: bold;
   font-family: 'proxima-bold', Arial, sans-serif;
}

:-ms-input-placeholder {  
   color: #b3b3b3;
   font-size: 15px;
   text-transform: uppercase;
   text-align: center;
   font-family: 'proxima-bold', Arial, sans-serif;
}

.btn-newsletter {
	color: #fff;
	background: #97c139;
	width: 150px;
	padding: 10px 20px;
	border-radius: 50px;
	font-size: 20px;
	text-transform: uppercase;
	font-family: 'proxima-bold', Arial, sans-serif;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.btn-newsletter:hover {
	color: #fff;
	background: #bed84d
}

.contact-form {
	margin-top: 30px;
}

@media (max-width: 1920px) {
	.line1 {
		margin-bottom: 35%;
	}
	.line2 {
		margin-bottom: 75%;
	}
	.line2 img {
		max-width: 100%;
	}
	.line3 {
		margin-bottom: 70%;
	}
}

@media (max-width: 1366px) {
	header {
		padding: 0 50px;
	}
}

@media (max-width: 1366px) {
	.title1 img {
		max-width: 70%;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 960px;
	}
}

@media (max-width: 768px) {
	header {
		padding: 0 15px;
		margin-bottom: 20px;
	}
	.card {
		float: none!important;
		margin: 60px 0;
		padding: 0;
	}
	.text1 {
		float: none!important;
		text-align: center;
		padding: 0px 200px;
		width: 100%;
	}
	.line1 {
		margin-bottom: 9%;
	}
	.line2 {
		margin-bottom: 50%;
	}
	.line3 {
		margin-bottom: 60%;
	}
}

@media (max-width: 480px) {
	h1.pull-left {
		float: none!important;
		padding: 0;
	}
	.logo {
		margin: auto;
	}
	.info {
		padding: 0;
		text-align: center;
		width: 300px;
	}
	.title1 img {
		max-width: 100%;
	}
	.card {
		margin: 25px 0;
	}
	.text1 {
		padding: 0;
	}
	.text1 p {
		color: #fff;
	}
	.line1 {
		margin-bottom: 16%;
	}
	.line2 {
		margin-bottom: 65%;
	}
	.line3 {
		margin-bottom: 100%;
	}
	form input {
		width: 100%;
	}
	.btn-newsletter {
		width: 100%;
	}
	.btn-player {
		background-size: 100%;
		width: 80px;
		height: 80px;
		margin-left: -40px;
		margin-top: -50px;
	}
}